/*---Feedback section--*/




/*--Jack CLerkin--*/
.review-1 img {
  display: block;
  width: 20%;
  height: inherit;
  max-width: 80%;
  position: static;
}

.review-1 h3 {
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  color: white;
}

.review-1 h4 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.review-1 p {
  font-size: 15px;
  color: white;
  text-shadow: auto;
  text-align: left;
}

/*--Aaron Clancy--*/
.review-2 img {
  display: block;
  width: 30%;
  height: inherit;
  max-width: 80%;
  position: static;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.review-2 h3 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: right;
}

.review-2 h4 {
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.review-2 p {
  font-size: 15px;
  color: white;
  text-shadow: auto;
  text-align: right;
}

/*---KYLE CRAWLEY----*/
.review-3 img {
  display: block;
  width: 40%;
  height: 19%;
  height: inherit;
  max-width: 80%;
  position: static;
}

.review-3 h3 {
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  color: white;
}

.review-3 h4 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.review-3 p {
  font-size: 15px;
  color: white;
  text-shadow: auto;
  text-align: left;
}

/*--SARAH CARR--*/
.review-4 img {
  display: block;
  width: 25%;
  height: inherit;
  max-width: 80%;
  position: static;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.review-4 h3 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: right;
}

.review-4 h4 {
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-align: right;
}

.review-4 p {
  font-size: 15px;
  color: white;
  text-shadow: auto;
  text-align: right;
}

/*--MARY ARMSTRONG--*/
.review-5 img {
  display: block;
  width: 20%;
  height: inherit;
  max-width: 80%;
  position: static;
}

.review-5 h3 {
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  color: white;
}

.review-5 h4 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.review-5 p {
  font-size: 15px;
  color: white;
  text-shadow: auto;
  text-align: left;
}

/*--ABOUT TNT---*/
.about-us h2 {
  font-size: 40px;
  margin: auto;
  text-align: center;
  font-family: Geogia, serif;
  padding: 20px;
}

.about-us h3 {
  font-size: 40px;
  margin: 15px;
  margin: auto;
  text-align: center;
  font-family: Geogia, serif;
}

.about-us p {
  padding: 30px;
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-family: Geogia, serif;
  background-color: white;
}
