@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color: #3B3B3B;
  font-family: 'Play', sans-serif;
  background-color: #000000;
}

/*--- headings and logos---*/
h1, h2 {
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 10px;
}



#logo {
  float: left;
  font-size: 280%;
  color: #ffffff;
  margin: 10px;
}

/*---nav---*/
#menu {
  font-size: 100%;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  color: #ffffff;
}

#menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}


#menu, #lego {
  line-height: 75px;
}

#logo {
  font-size: 60px;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/*---header-image---*/
#header-image {
  height:100%;
  width: 100%;
}

/*---creates the level of zoom for a image---*/
/*--about us--*/
.about {
  border: 85px;
  border-style: solid;
  border-color: #ffffff;
  padding: 1em;
  border-style: double;
  margin: 50px;
  border-radius: 25px;
}

.about img {
  max-width: 100%;
  height: 900px;
  width: 100%;

}

.about h2 {
  font-size: 80px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}

.about p {
  font-size: 25px;
  padding-bottom: 10px;
  margin: 25px;
  text-align: center;
  color: #ffffff;
}

/*--ADDD MORE TOO CONTENT HERE---*/
/*--joining today---*/
.join-today {
  font-size: 30px;
  margin: 40px;
  color: white;
  text-align: center;
  border: 85px;
  border-style: double;
  border-color:white;
  padding: 1em;
  list-style-type: none;
  background-image: url(pictures/review-background2.jpg);
}

.perk-list {
  font-size: 40px;
  margin: 50px;
  color: white;
  text-align: center;
  padding: 1em;
  border-style: double;
  border-color: white;
  background-image: url(pictures/women-yoga1.jpg);
}

.perk-list li {
  font-size: 35px;
  margin: 50px;
  color: white;
  text-align: center;
  padding: 1em;
  border-style: double;
  border-color: white;
  list-style-type: none;
  
}

#perks-of-joining  {
  font-size: 90px;
  color:white;

}

#tnt-gym2 h4 {
  font-size: 70px;
  text-align:left;
  margin-top: 200px;
  
}

/*--review section--*/



.reviews {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  
}

.reviews p {
  font-size: 30px;
}

.reviews, h3 {
  font-size: 50px;
  margin: 50px;
}

/*--Jack CLerkin--*/
.review-1 {
  background-position: left;
  max-width: 100%;
}

.review-1 img {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 55%;
  text-align: left;
  position: relative;
  display: block;
  max-width: 100%;
}

.review-1 h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color:transparent;
}

.review-1 h4 {
  font-size: 30px;
  color:white;
  font-weight: bold;
  text-align: center;
}

.review-1 p {
  font-size: 20px;
  color: white;
  text-align: center;
}

.review-1 h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: red;
  text-align: center;
}

/*--Aaron Clancy--*/


.review-2 img {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 55%;
  text-align: center;
  position: relative;
  display: block;
  max-width: 100%;
}

.review-2 h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.review-2 h4 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.review-2 p {
  font-size: 20px;
  color: white;
  text-align: center;
}

.review-2 h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

/*---KYLE CRAWLEY---*/

.review-3 img {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 55%;
  text-align: center;
  position: relative;
  display: block;
  max-width: 100%;
}

.review-3 h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
  
}

.review-3 h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.review-3 p {
  font-size: 20px;
  text-align: center;
  color: white;
}

.review-3 h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: red;
  text-align: center;
}

/*---SARAH CARR---*/

 

.review-4 img {
  margin-top: 35px;
  margin-bottom:35px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 55%;
  text-align: center;
  position: relative;
  display: block;
  max-width: 100%;
}


.review-4 h3 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color:#ffffff;
}

.review-4 h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.review-4 p {
  font-size: 20px;
  color: white;
  text-align: center;
}

.review-4 h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

/*--REVIEW SECTION--*/
#membership h2 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
}


.low-membership {
  display: inline-block;
  border: 100px;
  margin: 45px;
  border-style: solid;
  border-color: white;
  padding: 3em;
  border-radius: 25px;
}

.low-membership h3, h4, p {
  font-size: 20px;
  margin: 25px;
  color: #ffffff;
}

.mid-membership {
  display: inline-block;
  border: 100px;
  margin: 45px;
  border-style: solid;
  border-color: white;
  padding: 3em;
  border-radius: 25px;
}

.mid-membership h3, h4, p {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  color: #ffffff;
}

.one-year {
  display: inline-block;
  border: 100px;
  margin: 45px;
  border-style: solid;
  border-color: white;
  padding: 3em;
  border-radius: 25px;
}

.one-year h3, h4, p {
  font-size: 20px;
  margin: 30px;
  color: #ffffff;
}

.need-help {
  font-size:50px;
  text-align: center;
  color: white;
  border-style: solid;
  margin: 30px;
}

.need-help p {
  font-size: 30px;
  
}

/*---fieldset---*/
#contact {
  margin: 50px;
  border-style: solid;
  border-color: black;
  padding: 1em;
  font-size: 100%;
  text-align: center;
}

#contact h2 {
  font-size: 35px;
  color: white;
}

#contact p {
  font-size: 30px;
}

fieldset {
  border: 100px;
  text-align: center;
  margin: 80px;
  border-style: groove;
  font-size: 70%;
  color: white;
}

label {
  font-size: 35px;
  margin: 50px;
}

input {
  font-size: 35px;
  margin: 25px;
  text-align: center;
}

#contact-button {
  font-size: 30px
}



.customer-needs {
  text-align: center;
}

/*---Media Queries---*/
@media screen and (max-width: 980) {
  .col-50 {
    width: 100%;
  }
}

#socials {
  font-size: 35px;
  text-align: center;
  background-color: white;
  margin: 15px;
  font-weight: bold;
  margin: 20px;
  background: url('pictures/review-background1.jpg');

}

.socials h2 {
  font-size: 30px;
}


.submit-button {
 
  text-align: center;
  font-size:30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:60px;
}
